@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code, del, 
dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td, hr{margin:0;padding:0;font-size:100%;box-sizing: border-box;}
body{height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#737373;line-height:1.5;background:url(../images/content_bg4.png) repeat;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top;}
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing: border-box;}
input, textarea, select, button {font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle; border:none;}
input, textarea {margin:0;padding:0;  background:none; box-sizing:border-box;}
textarea {resize:none}
a {color:#919090;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}
.blind{display: none;overflow: hidden;position: absolute;width: 0;height: 0;padding: 0;margin: 0; font-size: 0;line-height: 0; text-indent: -9999em;visibility: hidden;outline: none;z-index: -1;}
html,body{overflow:hidden;height:100%;}

/*layout*/
#wrap{width:100%; height:100%; padding-right:180px;}
#wrap > h1{font-size:0;}
header .logo_box{position: absolute; right: 35px; top: 75px;}
header .logo_box img{width: 100px;}
#wrap header{width:180px; height: 100%; position: fixed; right:0px; top: 0px;background:url(../images/menu_bg1.png) repeat-y; z-index: 11;}

/*
position: fixed; 스타일을 적용한 요소는 일반적인 문서 흐름에서 벗어나, 브라우저 뷰포트에 상대적으로 위치합니다. 
이 경우, header는 뷰포트의 오른쪽 끝 (right: 0px;)에 고정됩니다. 
따라서 #wrap 내부의 다른 요소들이 오른쪽으로 180픽셀 만큼의 여백을 가지더라도, header는 이 영향을 받지 않고 항상 뷰포트의 오른쪽 끝에 위치하게 됩니다.
이러한 스타일링은 사이드바를 만들거나, 항상 보이는 헤더/푸터 등을 구현할 때 자주 사용됩니다. 
#wrap 내부에 있는 다른 콘텐츠들은 padding-right: 180px;으로 인해 header와 겹치지 않게 됩니다.
*/